<h1>About Me</h1>
	<p>My name is Ben. </p>
	<p>I'm a 21 year old marketing student from Melbourne, Australia.</p> 
	<p>I'm doing OMRails to gain a better understanding of 	how programming works!</p>
	<p>I'm working on getting a website up and running. It will be functional very soon.</p>