<div class="jumbotron">
    <div class="container">
        <h1>Let's Chat</h1>
        <p>Get in touch at <a href="http://gmail.com">ben@ben.com</a></p>
        <p>Call 0412 345 678</p>
    </div>
</div>